@charset "utf-8";

:root {
    --c-text-light: whitesmoke;
    --c-text-dark: lightgrey;
    --c-button: whitesmoke;
    --c-button-hover: rgb(0, 0, 0, 0.5);
}

@keyframes FadeInAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes SlideUpAnim {
    from {
        top: -25%;
    }
    to {
        top: 0%;
    }
}

.bo-form-container {
    background-color: black; /* fallback color */
    background-image: url("AdobeStock_367722071.jpeg"); /* https://stock.adobe.com/uk/ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

form {
    background-color: transparent;
    border: 1px solid var(--c-text-light);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    min-width: 350px;
    max-width: 50%;
    padding: clamp(1rem, 10vh, 2rem);
    margin: clamp(1rem, 10vh, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    color: var(--c-text-light);
    position: relative;
    opacity: 0;
    top: -25%;
    /* duration | timing-function | name | fill-mode | delay */
    animation: 
        1.5s ease-in-out FadeInAnim forwards 0.2s, 
        0.75s ease-in-out SlideUpAnim forwards;
}

.bo-input-group {
    position: relative;
    width: 75%;
}

.bo-input-group > label {
    position: absolute;
    color: var(--c-text-light);
    pointer-events: none;
    top: 75%;
    left: 10px;
    transform: translateY(-75%);
    transition: top 0.2s;
}

.bo-input-group > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--c-text-light);
    border-radius: 10px;
    outline: none;
    color: var(--c-text-light);
    padding: 30px 10px 10px 10px;
    width: 100%;
    transition: border-bottom 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.bo-input-group > input:valid {
    box-shadow: 0px 0px 20px lime;
    border-bottom: 1px solid lime;
}

/* Select label when input is :focused or :valid */
.bo-input-group input:focus + label, 
.bo-input-group input:valid + label {
    top: 30%;
    color: lightgrey;
}

form > [type="submit"] {
    display: block;
    text-align: center;
    width: 75%;
    padding: 20px;
    border: 1px solid var(--c-text-light);
    border-radius: 10px;
    background-color: var(--c-button);
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

form > [type="submit"]:hover {
    background-color: var(--c-button-hover);
    color: var(--c-text-light);
}

form a {
    color: var(--c-text-light);
}

form a:hover {
    color: var(--c-text-dark);
}