@charset "utf-8";

:root {
    /* Breakpoints (min-width:px) */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
    /* Container (max-width:px) */
    --container-sm-width: 540px;
    --container-md-width: 720px;
    --container-lg-width: 960px;
    --container-xl-width: 1140px;
    --container-xxl-width: 1320px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

/* row */
.bo-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.bo-justify-content-start { justify-content: start; }
.bo-justify-content-end { justify-content: end; }
.bo-justify-content-center { justify-content: center; }
.bo-justify-content-between { justify-content: space-between; }
.bo-justify-content-around { justify-content: space-around; }
.bo-align-items-start { align-items: start; }
.bo-align-items-center { align-items: center; }
.bo-align-items-end { align-items: end; }
.bo-align-items-stretch { align-items: stretch; }

/* padding */
.bo-p-1 { padding: 5px; }
.bo-p-2 { padding: 15px; }
.bo-p-3 { padding: 25px; }
.bo-p-4 { padding: 30px; }
.bo-p-5 { padding: 50px; }

/* margin */
.bo-mx-auto { margin-right: auto; margin-left: auto; }
.bo-mb-1 { margin-bottom: 10px; }
.bo-mb-2 { margin-bottom: 20px; }
.bo-mb-3 { margin-bottom: 30px; }
.bo-mb-4 { margin-bottom: 40px; }
.bo-mb-5 { margin-bottom: 50px; }

/* Containers */
[class*="bo-container"], .bo-container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* sm */
@media (min-width: 576px) {
    .bo-container {
        width: var(--container-sm-width);
    }
}

/* md */
@media (min-width: 768px) {
    .bo-container {
        width: var(--container-md-width);
    }
}

/* lg */
@media (min-width: 992px) {
    .bo-container {
        width: var(--container-lg-width);
    }
}

/* xl */
@media (min-width: 1200px) {
    .bo-container {
        width: var(--container-xl-width);
    }
}

/* xxl */
@media (min-width: 1400px) {
    .bo-container {
        width: var(--container-xxl-width);
    }
}