@charset "utf-8";

:root {
    --c-background: #1E1E2A;      /* black-russian */
    --c-foreground-dark: #44404D; /* grape */
    --c-foreground: #7B7794;      /* topaz */
    --c-secondary: #7D444F;       /* solid-pink */
    --c-highlight: #EB9653;       /* sea-buckthorn */
    --c-text-light:ghostwhite;    /* */
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--c-background);
    color: var(--c-text-light);
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header {
    background-color: var(--c-foreground-dark);
    border-radius: 1rem;
    padding: 1rem;
    flex: 0 0 10%;
}

main {
    background-color: var(--c-foreground-dark);
    border-radius: 1rem;
    padding: 1rem;
    flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0.25rem;
}

.bo-bg-background { background-color: var(--c-background); }
.bo-bg-foreground-dark { background-color: var(--c-foreground-dark); }
.bo-bg-foreground { background-color: var(--c-foreground); }
.bo-bg-secondary { background-color: var(--c-secondary); }
.bo-bg-highlight { background-color: var(--c-highlight); }